*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // This decides what 1rem is
}

body {
  box-sizing: border-box;
  background: $color-secondary-light;
}

.App {
  margin: 6.2rem 20% 0 20%;
  padding: 5rem 0;
  min-height: 80vh;

  @include respond(tab-port) {
    margin: 0 2rem;
    margin-top: 5.7rem;
    padding: 2rem 0;
  }
}

button {
  margin: 0.3rem;
  border: 1px solid $color-black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2.2rem;
  outline: none;
}

.inputGroup {
  display: flex;
  justify-content: space-between;

  &__label{
    font-size: 2.2rem;
    font-weight: 700;
  }
}

.input {
  margin: 0.3rem;
  border: 1px solid $color-black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2.2rem;
  outline: none;

  &__number {
    max-width: 8rem;
  }
}

button {
  background-color: $color-primary;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-light;
    transform: translateY(-2px);
  }

  &:focus {
    background-color: $color-primary-light;
    transform: translateY(0);
  }

  &:disabled {
    background-color: $color-secondary-dark;
    color: $color-secondary-light;
    transform: translateY(0);
  }
}
