/*** 
Media Query Manager

0 - 600px:      Phone
600 - 900px:    Tablet portait
900 - 1200px:   Tablet landscape
1200 - 1800px:    Normal styles
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
***/
@import url("https://fonts.googleapis.com/css?family=Francois+One|Raleway&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #56586b;
}

.App {
  margin: 6.2rem 20% 0 20%;
  padding: 5rem 0;
  min-height: 80vh;
}

@media (max-width: 56.25em) {
  .App {
    margin: 0 2rem;
    margin-top: 5.7rem;
    padding: 2rem 0;
  }
}

button {
  margin: 0.3rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2.2rem;
  outline: none;
}

.inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputGroup__label {
  font-size: 2.2rem;
  font-weight: 700;
}

.input {
  margin: 0.3rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2.2rem;
  outline: none;
}

.input__number {
  max-width: 8rem;
}

button {
  background-color: #660000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #a30000;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

button:focus {
  background-color: #a30000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

button:disabled {
  background-color: #32323d;
  color: #56586b;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #ddd;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Francois One", sans-serif;
  font-weight: 700;
  color: #660000;
}

.heading-primary {
  margin-bottom: 2rem;
  font-size: 6rem;
  line-height: 1.25;
  text-transform: capitalize;
}

.heading-secondary {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-transform: capitalize;
}

.heading-tertiary {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 1.8rem;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #ddd;
}

.paragraph:not(:last-child) {
  margin-bottom: 1rem;
}

.link:link, .link:visited {
  text-decoration: none;
  color: #a30000;
  cursor: pointer;
}

.link:hover, .link:active {
  text-decoration: underline;
  color: #3d0000;
}

.u-bold-text {
  font-weight: bold !important;
}

.u-center-text {
  text-align: center !important;
}

.PreGame {
  margin: 0 auto;
  max-width: 40rem;
}

.PreGame__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Lobby {
  margin: 0 auto;
  max-width: 60rem;
}

.Lobby__users {
  margin-bottom: 4rem;
  list-style: none;
}

.Lobby__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ActionPage {
  margin: 0 auto;
  max-width: 60rem;
}

.Voting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( (3 * (100% - 3 * 6rem) / 4) + (2 * 6rem));
}
/*# sourceMappingURL=main.css.map */